# Environmental Configurations
PORT=3000
RABBITMQ_URL=amqp://rabbitmq
PARTNER_URL=http://sat-partner-mock-service:3002
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
WEBHOOK_SECRET=super-secret-key-123
